<div class="modal d-none" id="CxCVIDcEL0uyYZFlLIuvdw" tabindex="-1" style="display: block;" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button class="btn-close" id="RNQEB69Sm06s9rCc2FgIcA"></button>
      </div>
      <div class="modal-body text-center pt-0">
        <div class="fs-2 mb-3">Change the status to <span id="RldW9jTkvEKJ9t7ohj2pUw" class="fw-bold text-primary"></span>?</div>
        <div class="btn-group">
          <button class="btn btn-success" id="ZFreIdeaoUydMMbVK4q5fg">Yes</button>
          <button class="btn btn-danger" id="egYBthp7GkuDQ92tOwfl0w">No</button>
        </div>
      </div>
    </div>
  </div>
</div>