<div class="modal fade show" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: block;" aria-modal="true" role="dialog" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/findshow" method="post">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" name="findshow" value="<%= search %>" />
                    <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>🔍</button>
                </div>
            </form>
            <table id="afc4e126-a792-4c4b-9592-e384218bf20e"></table>
        </div>
      </div>
    </div>
</div>

<script>
  async function loadSuggestions() {
    const url = 
  }
</script>