<div class="modal" id="ogJCheREvEanzp9ff7DP9Q" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button class="btn-close" id="gSPgxfT1gEmsaW1oDiiFXw"></button>
      </div>
      <div class="modal-body" id="J5HCdUgnhE2TWfnGXgbv8g">
        <div class="d-flex btn-group isTV" id="sBthW1RpFUy70uMUe8pfNQ">
          <label class="btn btn-dark rounded-0">TV</label>
          <label class="btn btn-outline-secondary rounded-0">MOVIES</label>
        </div>
        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Search"/>
            <button class="btn btn-outline-primary" id="v4GHrhIRr0WfIPjsPMjCbQ">🔍</button>
        </div>
        <div id="KErxjUJ1BUaXmJd7acF0TA"></div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const closeButton = document.getElementById("gSPgxfT1gEmsaW1oDiiFXw");
    const modal = document.getElementById("ogJCheREvEanzp9ff7DP9Q");
    const typeToggle = document.getElementById("sBthW1RpFUy70uMUe8pfNQ");
    const searchButton = document.getElementById("v4GHrhIRr0WfIPjsPMjCbQ");
    const resultPreview = document.getElementById("KErxjUJ1BUaXmJd7acF0TA");

    closeButton.addEventListener("click", () => {
      modal.classList.toggle("d-none");
    });

    typeToggle.addEventListener("click", (event) => {
      const children = Array.from(event.target.parentNode.children);

      children.forEach((child) => {
        if (child.classList.contains("btn-dark")) {
          child.classList.replace("btn-dark", "btn-outline-secondary");
          sBthW1RpFUy70uMUe8pfNQ.classList.toggle("isTV");
        } else {
          child.classList.replace("btn-outline-secondary", "btn-dark");
        }
      });
    });
  
    searchButton.addEventListener("click", async (event) => {
      const search = event.target.previousElementSibling.value;
      let str = "";

      await fetch(`https://api.tvmaze.com/search/shows?q=${search}`)
        .then((res) => res.json())
        .then((data) => {
            showDataResults = [];

            for (let i = 0; i < data.length; i++) {
                const img = data[i].show.image ? data[i].show.image.medium : "";
                
                try {
                  str += `
                  <table class="text-center w-100">
                    <tr>`;

                  str += `
                      <td class="col-md-1"><img src="${img}" alt="${data[i].show.id}" height="128px" width="auto"/></td>
                      <td class="me-auto fw-bold text-decoration-none fs-5"><a href="https://www.imdb.com/title/${data[i].show.externals.imdb}/" target="_blank">${data[i].show.name}</a></td>
                      <td class=""><div>${data[i].show.rating.average}</div></td>
                      <td class="col-md-3">
                        <select class="form-select">
                          <option value="planned">Plan to Watch</option>
                          <option value="completed">Completed</option>
                          <option value="current" selected>Currently Watching</option>
                        </select>
                      </td>
                      <td class="col-md-1"><button class="btn btn-primary" id="xgQsI3EsVkKv8wrBqhjjAg-0">Add</button></td>`;

                  str += `
                    </tr>
                  </table>`;
                } catch (error) {
                    console.log(error);
                }
            }
        });
      resultPreview.innerHTML = str;

      const test = document.getElementById("xgQsI3EsVkKv8wrBqhjjAg-0");
      test.addEventListener("click", (event) => {
        fetch('http://localhost:3000/addShow', {  
            method: 'post',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ "data": {
              "title" : "oshi no ko",
              "status" : "current"
            }}),
        })
          .then((response) => { console.log(`Response: `, response) })
          .catch((error) => { console.log(`Error: `, error) })
      });
      });
  });
</script>