<div class="d-flex justify-content-end">
    <a href="/" class="me-auto mt-2 text-decoration-none fw-bold fs-5">🫛BeanTrack</a>
    <% if (typeof authenticated !== "undefined") { %>
        <% if (typeof username !== "undefined") { %>
            <div class="mt-2 me-2">Hello <span class="fw-bold"><%= username %></span>!</div>
            <a href="/tvlist" class="mt-2 me-2">My List</a>
        <% } %>
        <a href="/logout" class="btn btn-danger">Logout</a>
    <% } else { %>
        <a href="/login" class="btn btn-dark rounded-0">Login</a>
        <a href="/signup" class="btn btn-secondary rounded-0">Sign Up</a>
    <% } %>
</div>