<div class="d-flex justify-content-end">
    <a href="/" class="me-auto">Home</a>
    <% if (typeof authenticated !== "undefined") { %>
        <% if (typeof username !== "undefined") { %>
            Hi <%= username %>!
        <% } %>
        <button><a href="/logout">Logout</a></button>
    <% } else { %>
        <button><a href="/login">Login</a></button>
        <button><a href="/signup">Sign Up</a></button>
    <% } %>
</div>