<div class="text-center w-100 text-white bg-primary p-1">MOVIES</div>
<div class="tv-list">
    <table class="container">
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>TV Show Title</th>
            <th>Rating</th>
            <th>IMDB</th>
            <th>Add/Remove</th>
        </tr>
    
        <tr>
            <%- include("movieitem", {
                index: data[0].index,
                image: data[0].image,
                name: data[0].name,
                rating: data[0].rating,
                imdb: data[0].imdb,
            }) %>
        </tr>

    </table>
</div>