<div class="text-center w-100 text-white bg-primary p-1">TV SHOWS</div>
<div class="tv-list">
    <table class="container">
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>TV Show Title</th>
            <th>Rating</th>
            <th>IMDB</th>
            <th>Add/Remove</th>
        </tr>
    
    <% for (let i = 0; i < data.length; i++) { %>
        <tr>
            <%- include("tvitem", {
                index: data[i].index,
                image: data[i].image,
                name: data[i].name,
                rating: data[i].rating,
                imdb: data[i].imdb,
            }) %>
        </tr>
    <% } %>

    </table>
</div>