<%- include("components/header") %>
<form action="/loggingin" method="post">
  <input name="username" type="username" placeholder="Username" required />
  <input name="password" type="password" placeholder="Password" required />
  <button>Sign in</button><br>
  <p>Not a member? <a href="/signup">Register</a></p>
</form>
<%- include("components/footer") %>