<%- include("templates/header") %>
<form action="/submitUser" method="post">
  <input name="username" type="text" placeholder="Username" required />
  <input name="password" type="password" placeholder="Password" required />
  <button>Register</button><br>
  <p>Already a member? <a href="/login">Login</a></p>
</form>
<% let i=0; %> <% for(i=0; i < errors.length; i++) { %>
  <%=errors[i]%> <br />
<% } %>
<%- include("templates/footer") %>