<%- include('components/header') %>
<form action="/loggingIn" method="post" autocomplete="off">
    <% if (typeof errors !== 'undefined' && errors !== null) { %>
        <span class="text-danger"><%= errors %></span>
      <% } %>
    <div class="input-group">
      <label class="mt-2 me-2">Login</label>
      <input name="username" class="form-control" type="text" placeholder="username">
      <input name="password" class="form-control" type="password" placeholder="password">
      <button type="submit" class="btn btn-outline-secondary rounded-0">Sign in</button>
    </div>
</form>
<%- include('components/footer') %>