<%- include('components/header', { 
    authenticated : authenticated,
    username : username
 }) %>

<% if (data && typeof data !== "undefined" && data.length > 0) { %>
    <!-- <%- include('components/makeGallery', { data: data })%> -->
<% } else { %>
    <div class="text-center">It's awfully quiet here ... 🦗</div>
<% } %>
<%- include('components/footer') %>